:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #132C33;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@font-face {
  font-family: "Cor";
  src: local("Cormorant"),
   url("./assets/fonts/Cormorant/Cormorant-SemiBold.ttf") format("truetype");

  font-family: "Mon-Regular";
  src: local("Montserrat"),
   url("./assets/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  

  font-family: "Mon-Bold";
  src: local("Montserrat"),
   url("./assets/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  

  font-family: "Mon-Extrabold";
  src: local("Montserrat"),
   url("./assets/fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype");
  }

