.header {
  position: absolute;
  display: flex;
  /* background-color: white; */
  width: 100%;
  height: 10vh;
  padding: 2vh 0vh 2vh 0vh;
}

.header-logo {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 80%;
}

.header-link {
  width: 80%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.header-link > div {
  margin-left: 5vh;
  font-family: "Cor";
  font-size: 2vh;
}